* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background: #EAEDED; }

.barra-envios {
  text-align: center;
  background-color: black;
  color: white; }

.logo {
  text-align: center;
  display: block; }
  .logo a img {
    width: 150px;
    height: 150px; }

nav {
  padding: 0 0 1em 0;
  text-align: center; }
  nav ul {
    display: flex;
    justify-content: center;
    background-color: #dbcdb9; }
    nav ul li {
      list-style: none;
      text-align: center;
      transition: 0.5s;
      font-size: 18px; }
      nav ul li .navegador {
        text-decoration-line: none;
        color: black;
        font-family: 'Biryani', sans-serif;
        list-style-position: outside;
        margin: 5px;
        padding: 5px;
        display: block; }

#btn-menu {
  display: none; }

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px; }

header label:hover {
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  header label {
    display: block;
    margin: 0 0 30px 10px; }
    header label .icm {
      margin: 1px; }
  nav {
    position: absolute;
    width: 50%;
    margin-left: -70%;
    transition: all 0.8s;
    z-index: 1; }
  nav ul {
    flex-direction: column; }
  nav ul li {
    border-top: solid black 1px; }
  #btn-menu:checked ~ nav {
    margin: 0; } }

ul li:hover {
  transform: scale(1.1, 1.1);
  border-radius: 1.2rem;
  background: #ffe4b5; }

.bloque {
  background-color: #dbcdb9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0 0 0; }
  .bloque .bloque__elemento {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
    .bloque .bloque__elemento .social {
      margin: 1rem 0 0 1rem;
      padding: 1rem; }
      .bloque .bloque__elemento .social a img {
        width: 30px;
        height: 30px;
        margin-right: 1rem; }
    .bloque .bloque__elemento .promo {
      margin: 1rem;
      padding: 1rem; }
      .bloque .bloque__elemento .promo .email {
        padding: 0.5rem;
        margin-top: 0.3rem; }
      .bloque .bloque__elemento .promo .boton {
        padding: 0.5rem 0.5rem;
        margin-top: 0.5rem; }

.contenedorpadre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  background: white;
  width: 270px;
  margin: 10px;
  border-radius: 15px; }
  .card a {
    background-color: #dbcdb9;
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 10px; }

.card-image {
  height: 380px;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0; }

.car-1 {
  background-image: url(../media/pulsi.jpg); }

.car-2 {
  background-image: url(../media/cub.jpg); }

.car-3 {
  background-image: url(../media/anillo.jpg); }

.car-4 {
  background-image: url(../media/3en1.jpg); }

.car-5 {
  background-image: url(../media/cc.jpg); }

.car-6 {
  background-image: url(../media/pira.jpg); }

.car-7 {
  background-image: url(../media/alas.jpg); }

.car-8 {
  background-image: url(../media/rolos3.jpg); }

.car-9 {
  background-image: url(../media/onda.jpg); }

.car-10 {
  background-image: url(../media/piedritas.jpg); }

.car-11 {
  background-image: url(../media/pulseras.jpg); }

.card:hover {
  background-color: #3e3e3e;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1.5s ease; }

.letra .dptn {
  text-align: center; }

.letra {
  font-family: 'Biryani', sans-serif; }

#section {
  text-align: center;
  margin: 1em;
  padding: 1em; }

.iconos img {
  float: left;
  margin: 0 1em 0 0; }

.seccion1 {
  margin: 10px;
  padding: 15px;
  text-align: center; }
  .seccion1 img {
    width: 22rem;
    height: 19rem; }

.grillas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-items: center;
  grid-template-areas: "prod prod prod"; }
  .grillas div img {
    width: 18em;
    height: 21em; }

.prod {
  margin: 1em 0 1em 0;
  grid-area: prod;
  text-align: center; }

.div1 img {
  transition: 1s; }

.div1 img:hover {
  transform: scale(1.1, 1.1);
  border: solid #ffe4b5; }

@media only screen and (max-width: 50rem) {
  body {
    background: #FCE5F6; }
  .grillas > * {
    grid-column-end: span 12; }
  .grillas {
    grid-gap: 2rem 0; }
  .container-fluido {
    margin-top: 50px;
    width: 5rem;
    height: 7rem; } }

/* Medidas */
#medida {
  margin: 10px;
  padding: 2px;
  text-align: center; }
  #medida p {
    text-align: center;
    margin: 1em 3em 1em 3em; }

.med-anillo img {
  max-width: 100%;
  height: auto; }

/* Servicio */
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  padding: 20px; }
  .grid img {
    size: inherit; }
  .grid p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding-top: 1rem; }
  .grid hr {
    background-color: black;
    height: 5px;
    width: 60%;
    margin: 0 5em 0 8em; }

@media only screen and (max-width: 50rem) {
  .grid {
    background-color: #FCE5F6;
    grid-template-columns: 1fr; } }

.responsive {
  max-width: 100%;
  height: auto; }

/* Contacto */
.titulo {
  margin: 1em; }
  .titulo h2 {
    text-align: center;
    margin-bottom: 1em; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.local-contacto {
  width: 550px;
  height: 300px;
  overflow: hidden; }
  .local-contacto img {
    width: 100%;
    height: auto; }

.form {
  margin: 1em;
  padding: 1em;
  border: solid 2px; }
