//producto

.contenedorpadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}
.card-image {
    height: 380px;
    background-size: cover;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.car-1 {
    background-image: url(../media/pulsi.jpg);
}
.car-2 {
    background-image: url(../media/cub.jpg);
}
.car-3 {
    background-image: url(../media/anillo.jpg);
}
.car-4 {
    background-image: url(../media/3en1.jpg);
}

.card a {
    background-color: #dbcdb9;
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 10px;
}
.card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1.5s ease;
}

.contenedorpadre2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    img{
        width: 25rem;
        height: 31rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .info {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        .btn-1 {
            position: relative;
            .btn2 {
               color: black;
               background-color: #dbcdb9;
               position: relative;
               font-size: 18px;
               text-decoration: none;
               margin: auto;
               padding: 10px 60px;
           }
       }
     }
     
}

.contenedorpadre3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
     img{
        width: 31rem;
        height: 32rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .info {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        .btn-1 {
            position: relative;
            .btn2 {
               color: black;
               background-color: #dbcdb9;
               position: relative;
               font-size: 18px;
               text-decoration: none;
               margin: auto;
               padding: 10px 60px;
           }
     }
   }
}

