//producto

.contenedorpadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: white;
    width: 17rem;
    margin: 0.6rem;
    border-radius: 1rem;
    a {
        background-color: #dbcdb9;
        color: black;
        padding: 1rem 1.25rem;
        display: block;
        text-align: center;
        margin: 1.25rem 3rem;
        text-decoration: none;
        border-radius: 0.5rem;
    }
}
.card-image {
    height: 22rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 0 0;
}
.car-1 {
    background-image: url(../media/pulsi.jpg);
}
.car-2 {
    background-image: url(../media/cub.jpg);
}
.car-3 {
    background-image: url(../media/anillo.jpg);
}
.car-4 {
    background-image: url(../media/3en1.jpg);
}
.car-5 {
    background-image: url(../media/cc.jpg);
}
.car-6 {
    background-image: url(../media/pira.jpg);
}
.car-7 {
    background-image: url(../media/alas.jpg);
}
.car-8 {
    background-image: url(../media/rolos3.jpg);
}
.car-9 {
    background-image: url(../media/onda.jpg);
}
.car-10 {
    background-image: url(../media/piedritas.jpg);
}
.car-11 {
    background-image: url(../media/pulseras.jpg);
}

.card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1.5s ease;
}
.dptn {
    text-align: center;
}
